{% extends 'base.html' %} 

{% block content %}

<section class="about-us">
  <div class="dark-overlay landing-inner text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="intro-p">
            We believe in creativity, innovation and efficiency
          </p>
        </div>
        <div class="container title" />
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row services-block1 services-block">
    <div class="col-md-6">
      <h2 class="h2-aboutUs">Creativity</h2>
    </div>
    <div class="col-md-6">
      <p class="aboutUs-p">
        We deliver the latest in web development products and Marketing strategies. Our products are unique and specific to every
        clients industry and background.
      </p>
    </div>
  </div>
  <div class="row services-block2 services-block">
    <div class="col-md-6">
      <h2>Innovation</h2>
    </div>
    <div class="col-md-6">
      <p class="aboutUs-p">
        Every day we face the task to deliver the best and we have to always be ahead of the new technology trends. We have to impose
        trends, we have to innovate.
      </p>
    </div>
  </div>
  <div class="row services-block3 services-block">
    <div class="col-md-6">
      <h2>Efficiency</h2>
    </div>
    <div class="col-md-6">
      <p class="aboutUs-p">
        Our services have to speak for themselves. We really enphasize how numbers and targets have to be met. Our mission is to
        create and deliver our services processes in the most efficient manner.
      </p>
    </div>
  </div>
</div>

{% endblock %}