{% extends 'base.html' %}

{% block content %}


<div class="form-contact">
    {% include 'partials/_alerts.html' %}
    
    <h2 class="text-center title">Lets work together!</h2>
    <hr class="basic" />
    <form action="{% url 'contact' %}" method="POST" class="text-center form-group">
      {% csrf_token %}
      <input type="hidden" name="user_id" value="0">
      <input name="name" 
        class="form-size" type="text" 
        placeholder="Name" required />
      <br />
      <input name="email" class="form-size" 
        type="text" placeholder="Email" 
        required />
      <br />
      <input name="company" class="form-size" 
        type="text" placeholder="Company" required/>
      <br />
      <input name="phone" class="form-size" 
        type="text" placeholder="Phone" required />
      <br />
      <textarea name="message" class="form-area" 
        col="8" type="text" 
        placeholder="Write your message here ..."
      >
      </textarea>
      <br> 

      <button class="btn-form">
        Send
      </button>

    </form>
  </div>

{% endblock %}