/* GENERAL */

 html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden;  */
    font-family: 'Montserrat', sans-serif;
} 

img {
  width: 100;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services-block h2 {
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  text-align: left;
}

.form-control::placeholder {
  color: #bbb !important;
}

.basic {
  border-color: black;
  color: black;
  width: 40px;
}

/* HEADER ========== */

.header {
  margin-top: 150px;
  text-align: center;
}

/* NAV-BAR COMPONENT CSS */

nav {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

nav {
  border-bottom: rgb(238, 168, 16) 4px solid;
}

.navbar-brand h2 {
  margin-top: 20px;
  font-family: 'Rajdhani', sans-serif;
  color: rgb(238, 168, 16);
  font-size: 40px;
}

.a-links {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  margin-right: 15px;
  letter-spacing: 4px;
  color: black;
}

.nav-link {
  color: black !important;
}

.img-logo {
  margin-right: -50px;
  height: 40px;
  width: 70px;
}

.hov-anim::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(238, 168, 16);
  transition: width 0.3s;
}

.hov-anim:hover::after {
  width: 100%;
  transition: width 0.3s;
}

navbar {
  position: fixed;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* Testing animation */

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* NAV-BAR ENDING */

/* FOOTER */

#footer {
  border-top: solid 5px rgb(238, 168, 16);
  background: rgba(56, 54, 54, 0.966);
  min-height: 200px;
}

.footer-logo {
  height: 120px;
  width: 200px;
}

.footer-block {
  margin-top: 40px;
}

#footer h2 {
  margin-top: 25px;
  color: rgb(238, 168, 16);
  font-size: 60px;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
}

#footer p {
  color: white;
}

.footer-h2-link {
  margin-left: -15px;
  color: white;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.left {
  align-content: right;
}

.right {
  align-content: left;
}

@media only screen and (max-width: 600px) {
  #footer {
    min-height: 500px
  }

  #footer h2 {
    font-size: 45px;
  }
}

/* FOOTER ENDING */

/* Testing animation ending */

@media only screen and (max-width: 1024px) and (min-width: 676px) {
}

@media only screen and (max-width: 767px) and (min-width: 600px) {
  .landing {
    min-height: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .landing {
    min-height: 600px;
  }

  .navbar-brand {
    text-align: center;
    margin-left: 50px;
  }

  .img-logo {
    display: none;
  }

  .about-us {
    min-height: 600px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 676px) {
}

@media only screen and (max-width: 676px) and (min-width: 451px) {
  .navbar-brand h2 {
    margin: 0 auto;
    text-align: center;
  }

  .logo {
    margin-right: 10px;
    height: 30px;
    width: 45px;
  }
}

@media only screen and (max-width: 450px) {
  .navbar-brand h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
  }
  
  .logo {
    height: 40px;
    display: show;
    widows: 40px;
  }
}